{% extends 'base.html' %}

{% block something %}
<div class="container">
    <div class="jumbotron">
        <ol>
            <li>Conveying system</li>
            <li>Seed Cleaner</li>
            <li>Destoner</li>
            <li>Magnetic Separator</li>
            <li>Automatic Weighing Machine</li>
            <li>Cracker</li>
            <li>Flaker</li>
            <li>Dehuller</li>
            <li>Cooker Conditioner</li>
            <li>Expander</li>
            <li>Drier Cooler</li>
            <li>Hammer Mills</li>
        </ol>
    </div>
</div>
{% endblock %}