{% extends 'base.html' %}

{% block something %}
<div class="container">
    <div class="jumbotron">
        <ol>
            <li>Mechanical Extraction Plants</li>
            <ul>
                <li>Extruders</li>
                <li>Expellers</li>
            </ul>
            <li>Solvent Extraction Plants</li>
            <ul>
                <li>Extractor</li>
                <li>Desolventiser Toaster</li>
                <li>Distillation Plants</li>
            </ul>
            <li>Special Extraction</li>
        </ol>
    </div>
</div>

{% endblock %}