{% extends 'base.html' %}

{% block something %}
<div class="container">
    <div class="jumbotron">
        <ol>
            <li>Batch Refining Plants</li>
            <li>Miscella Refining Plants</li>
            <li>Continuous Refining Plants</li>
            <ul>
                <li>Degumming Plant</li>
                <li>Neutralization Plant</li>
                <li>Water Washing and Drying Plants</li>
                <li>Pre Treatment & Bleaching Plants</li>
                <li>De-odorization Plants</li>
                <li>Dewaxing/Winterization Plants</li>
                <li>Fractionation Plants</li>
            </ul>
        </ol>
    </div>
</div>
{% endblock %}